<div id="header">
  <ul id="headerUl">
    <li id="headerLi">@Html.ActionLink("Treats", "Index", "Treats")</li>
    <li id="headerLi">@Html.ActionLink("Flavors", "Index", "Flavors")</li>
    <li id="headerLiLeft">@Html.ActionLink("Treats and Sweets", "Index", "Home")</li>
  </ul>
</div>